<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adjav.game.bored">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Bored Game"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AccuracyResultActivity"></activity>
        <activity android:name=".AccuracyGameActivity" />
        <activity android:name=".MemoryLevel1Activity" />
        <activity android:name=".MemoryLevel2Activity" />
        <activity android:name=".MemoryLevel3Activity" />
        <activity android:name=".MemoryLevel4Activity" />
        <activity android:name=".MemoryLevel5Activity" />
        <activity android:name=".MemoryLevel6Activity" />
        <activity android:name=".MemoryLevel7Activity" />
        <activity android:name=".MemoryLevel8Activity" />
        <activity android:name=".ReflexResultActivity" />
        <activity
            android:name=".ReflexGameActivity"
            android:noHistory="true" />

        <service android:name=".MusicServiceReflex"
            android:enabled="true"/>

        <service android:name=".MusicServiceMemory"
            android:enabled="true"/>

        <service android:name=".MusicServiceAccuracy"
            android:enabled="true"/>

        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>